black
boto3-stubs >= 1.24.39
coverage
flake8
interrogate
isort
mkdocs
mkdocs-gen-files
mkdocs-material
mkdocstrings-python-legacy
mock; python_version < '3.8'
# moto 4.2.5 broke something fairly deep in our test suite
# https://github.com/PrefectHQ/prefect-aws/issues/318
moto >= 3.1.16, < 4.2.5
mypy
pillow
pre-commit
pytest
pytest-asyncio >= 0.18.2, != 0.22.0, < 0.23.0 # Cannot override event loop in 0.23.0. See https://github.com/pytest-dev/pytest-asyncio/issues/706 for more details.
pytest-cov
pytest-xdist
types-boto3 >= 1.0.2
