name: Static Analysis

on:
  pull_request:
    branches: [$default-branch]

jobs:
  check-formatting:
    name: Check Formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
        
      - name: Install black
        run: |
          python -m pip install --upgrade pip
          pip install black

      - name: Run black check
        run: |
          black --check prefect_aws

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install flake8
        run: |
          python -m pip install --upgrade pip
          pip install flake8

